{% extends "layout.html" %}
{% block title %}Browse{% endblock %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js"></script>{% endblock %}
{% block content %}
<h1>Browse</h1>
{% for file in audio_files %}

<div class="audio">
    <p>{{file['name']}}</p>
    <div class="controls">
        <button class="control-button" id="audio_{{file['id']}}_play"><img src="{{url_for(" static",
                filename="icons/play.svg" )}}" /></button>
        <!-- Volume Control -->
        <div class="volume-control">
            <button id="audio_{{file['id']}}_volume_reveal" class="control-button"><img src="{{url_for(" static",
                    filename="icons/volume-2.svg" )}}" /></button>
            <div class="slider-container hidden" id="audio_{{file['id']}}_volume" style="width: 100px;">
                <div class="slider-background"></div>
                <div class="slider-button" id="audio_{{file['id']}}_slider_button"></div>
                <div class="slider-filled" id="audio_{{file['id']}}_slider_fill"></div>
            </div>
        </div>
        <!-- Seek Control -->
        <div class="slider-container" id="audio_{{file['id']}}_seek">
            <div class="slider-background"></div>
            <div class="slider-button" id="audio_{{file['id']}}_seek_button"></div>
            <div class="slider-filled" id="audio_{{file['id']}}_seek_fill"></div>
        </div>
    </div>
</div>

<script>
    /**
     * Ignore any errors in this part relating to anything in {{}}. Flask will replace these with the correct values.
     */

    /**
     * Seek along the howler audio object
     * @param {MouseEvent} e - The mouse event passed by onmousemove
     */
    const changeSeek_{{ file['id']}} = (e) => {
        let rect = e.currentTarget.getBoundingClientRect();
        let seek = (e.clientX - rect.left) / rect.width;
        if (seek < 1) {
            document.querySelector("#audio_{{file['id']}}_seek_button").style.marginLeft = seek * 100 + "%";
            document.querySelector("#audio_{{file['id']}}_seek_fill").style.width = seek * 100 + 1 + "%";
            sound_{ { file['id'] } }.seek(sound_{{ file['id']}}.duration() * seek);
        }
    }

    /**
     * Change the volume of the howler audio object
     * @param {MouseEvent} e - The mouse event passed by onmousemove
     */
    const changeVolume_{{ file['id']}} = (e) => {
        let rect = e.currentTarget.getBoundingClientRect();
        let volume = (e.clientX - rect.left) / rect.width;
        if (volume < 1) {
            document.querySelector("#audio_{{file['id']}}_slider_button").style.marginLeft = volume * 100 + "%";
            document.querySelector("#audio_{{file['id']}}_slider_fill").style.width = volume * 100 + 1 + "%";
          sound_{ { file['id'] } }.volume(volume);
        }
    }

    /**
     * The Howler Audio Object.
     * https://github.com/goldfire/howler.js#documentation
     */
    let sound_{{ file['id']}} = new Howl({
        // Audio files are copied into the static directory so we can access them in the web app here
        src: ['{{url_for("static", filename="audio/" + file["name"])}}'],

        // On play listener to update the seek control
        onplay: function () {
            requestAnimationFrame(function update() {
                document.querySelector("#audio_{{file['id']}}_seek_button").style.marginLeft = sound_{ { file['id'] } }.seek() / sound_{{ file['id']}}.duration() * 85 + "%";
                document.querySelector("#audio_{{file['id']}}_seek_fill").style.width = sound_{{ file['id']}}.seek() / sound_{{ file['id']}}.duration() * 85 + 1 + "%";
                if (sound_{ { file['id'] } }.playing()) {
                    requestAnimationFrame(update);
                }
            })
        }
    });

    document.querySelector("#audio_{{file['id']}}_slider_button").style.marginLeft = sound_{ { file['id'] } }.volume() * 85 + "%";
    document.querySelector("#audio_{{file['id']}}_slider_fill").style.width = sound_{ { file['id'] } }.volume() * 100 + "%";

    // Create event listener for the play/pause button
    document.querySelector("#audio_{{file['id']}}_play").addEventListener('click', function (e) {
        if (sound_{ { file['id'] } }.playing()) {
            sound_{ { file['id'] } }.pause();
            e.currentTarget.innerHTML = '<img src="{{url_for("static", filename="icons/play.svg")}}" />';
        } else {
            sound_{ { file['id'] } }.play();
            e.currentTarget.innerHTML = '<img src="{{url_for("static", filename="icons/pause.svg")}}" />';
        }
    });

    // Create event listener for the volume button
    document.querySelector("#audio_{{file['id']}}_volume_reveal").addEventListener('click', function () {
        if (document.querySelector("#audio_{{file['id']}}_volume").style.display == "block") {
            document.querySelector("#audio_{{file['id']}}_volume").style.display = "none";
        } else {
            document.querySelector("#audio_{{file['id']}}_volume").style.display = "block";
        }
    });

    // Create event listeners for the volume slider
    document.querySelector("#audio_{{file['id']}}_volume").addEventListener('mousedown', function (e) {
        document.querySelector("#audio_{{file['id']}}_volume").addEventListener('mousemove', changeVolume_{{ file['id']}})
    });
    document.querySelector("#audio_{{file['id']}}_volume").addEventListener('mouseup', function (e) {
        document.querySelector("#audio_{{file['id']}}_volume").removeEventListener('mousemove', changeVolume_{{ file['id']}})
    })
    document.querySelector("#audio_{{file['id']}}_volume").addEventListener('mouseleave', function (e) {
        document.querySelector("#audio_{{file['id']}}_volume").removeEventListener('mousemove', changeVolume_{{ file['id']}})
    })

    // Create event listeners for the seek control
    document.querySelector("#audio_{{file['id']}}_seek").addEventListener('mousedown', function (e) {
        document.querySelector("#audio_{{file['id']}}_seek").addEventListener('mousemove', changeSeek_{{ file['id']}})
    });
    document.querySelector("#audio_{{file['id']}}_seek").addEventListener('mouseup', function (e) {
        document.querySelector("#audio_{{file['id']}}_seek").removeEventListener('mousemove', changeSeek_{{ file['id']}})
    })
    document.querySelector("#audio_{{file['id']}}_seek").addEventListener('mouseleave', function (e) {
        document.querySelector("#audio_{{file['id']}}_seek").removeEventListener('mousemove', changeSeek_{{ file['id']}})
    })
</script>
{% endfor %}
{% endblock %}